{% extends "basemaster.html" %}
{% block titulo %}Fabricação{% endblock %}
{% block conteudo %}
    <h1>Fabricação</h1>
    
    
    
    <div class="grid">
           <p><a href="/fabricacao/nova"><button>Nova fabricação</button></a></p>
          <table>
            <tr>
            <td>Id</td>
            <td>Data</td>
            <td>Qt produzida</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>

            </tr>
        {% for fabricacao in fabricacao %}
            <tr>
                <td>{{fabricacao['id_fabricacao']}}</td>
                <td>{{fabricacao['data_fabricacao']}}</td>
                <td>{{fabricacao['soma']}}</td>
                <td><a href="/fabricacao/novo">Incluir item</a></td>
                <td><a href="">Editar</a></td>

            </tr>
        {% endfor %}
    </table>
    </div>
    
{% endblock %}