{% extends "basemaster.html" %}
{% block titulo %}Cadastrar Usuario{% endblock %}
{% block js %}
    function validar() {
        const nome = document.getElementById('nome');
        const login = document.getElementById('login');
        const senha = document.getElementById('senha');
        const tipo = document.getElementById('tipo');
        const telefone = document.getElementById('telefone');
        if (nome.value === '') {
            alert("Preencha o nome.");
            return false;
        }
        if (login.value === '') {
            alert("Preencha o login.");
            return false;
        }
        if (senha.value === '') {
            alert("Preencha a senha.");
            return false;
        }
        if (tipo.value === '') {
            alert("Preencha o tipo.");
            return false;
        }
        if (telefone.value === '') {
            alert("Preencha o telefone.");
            return false;
        }
        return true;
    }

    function salvar() {
        if (validar()) document.getElementById("form_principal").submit();
    }

    {% if usuario['id'] != 'novo' %}
        function excluir() {
            if (!confirm("Você tem certeza?")) return;
            xhr = new XMLHttpRequest();
            xhr.open('DELETE', "{{ url_for('deletar_usuario_api', id = usuario['id']) }}");
            xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
            xhr.onload = function() {
                if (xhr.readyState !== 4) return;
                if (xhr.status === 200 || xhr.status === 404) {
                    document.open();
                    document.write(xhr.responseText);
                    document.close();
                } else {
                    alert('Erro ' + xhr.status);
                }
            };
            xhr.send();
        }

    
    {% endif %}
{% endblock %}




{% block conteudo %}
    <form action="/usuarios/{{ usuario['id'] }}" method="POST" id="form_principal" enctype="multipart/form-data">
        {% if usuario['id'] != 'novo' %}
            <p>
                <label>Id:</label>
                {{usuario['id']}}
            </p>
        {% endif %}
        <p>
            <label for="nome">Nome:</label>
            <input type="text" id="nome" name="nome" autocomplete="off" value="{{usuario['nome']}}" />
        </p>
        <p>
            <label for="login">Login:</label>
            <input type="text" id="login" name="login" autocomplete="off" value="{{usuario['login']}}" />
        </p>
        <p>
            <label for="senha">Senha:</label>
            <input type="text" id="senha" name="senha" autocomplete="off" value="{{usuario['senha']}}" />
        </p>
        <p>
            <label for="tipo">Tipo:</label>
            <input type="text" id="tipo" name="tipo" autocomplete="off" value="{{usuario['tipo']}}" />
        </p>
        <p>
            <label for="telefone">Telefone:</label>
            <input type="text" id="telefone" name="telefone" autocomplete="off" value="{{usuario['telefone']}}" />
        </p>
        <p>
            <button type="button" onclick="javascript:salvar();">Salvar</button>
            {% if usuario['id'] != 'novo' %}<button type="button" onclick="javascript:excluir();">Excluir</button>{% endif %}
        </p>
    </form>
    <p><a href="/usuarios">Voltar</a></p>
{% endblock %}
