{% extends "basemaster.html" %}
{% block titulo %}Insumos{% endblock %}

{% block conteudo %}
    <h1>Insumos</h1>
    
    
    
    <div class="grid">
       <p><a href="/insumo/novo"><button>Adicionar Insumos</button> <a href="/insumo/inativos"><button>Insumos Inativos</button></a>
        <p><a href="/insumo/compra"><button>Compra</button>
          <table>
            <tr>
            <td>ID</td>
            <td>Nome</td>
            <td>Quantidade</td>
            <td>Vencimento*</td>
            <td>&nbsp;</td>

            </tr>
        {% for insumo in insumo %}
            <tr>
                <td>{{insumo['id_insumo']}}</td>
                <td>{{insumo['nome']}}</td>
                <td>{{insumo['soma']}}</td>
                <td>{{insumo['vencimento']}}</td>
                <td><a href="insumo/{{insumo['id_insumo']}}">Editar</a></td>

            </tr>
        {% endfor %}
    </table>
    </div>
    
{% endblock %}