{% extends "basemaster.html" %}
{% block titulo %}Usuarios{% endblock %}
{% block conteudo %}
    <h1>Usuarios</h1>
    
    
    
    <div class="grid">
       <p><a href="/usuarios/novo"><button>Convidar usuário</button>
    <table class="tablesorter">
        <thead>
        <tr>
            <td>ID</td>
            <td>Nome</td>
            <td>Login</td>
            <td>Senha</td>
            <td>Telefone</td>
            <td>Tipo</td>
            <td>&nbsp;</td>
        </tr>
        </thead>
        
        {% for usuario in usuarios %}
        <tbody>
            <tr>
                <td>{{usuario['id']}}</td>
                <td>{{usuario['nome']}}</td>
                <td>{{usuario['login']}}</td>
                <td>{{usuario['senha']}}</td>
                <td>{{usuario['telefone']}}</td>
                <td>{{usuario['tipo']}}</td>
                <td><a href="/usuarios/{{usuario['id']}}">Editar</a></td>
            </tr>
        </tbody>
        {% endfor %}
    </table>
    </div>
    
{% endblock %}